@media (min-width: 1200px){

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(248, 204, 203);
}

.content {
    max-width: 1500px;
    margin: auto;
}

h1 {
    margin-top: 3%;
    text-align: center justify;
    font-size: 4em;
    margin-bottom: 5%;
}

image {
    float: left;
}

.opt {
    display: inline-block;
    width: 25%;
    background-color: crimson; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-style: italic;
    opacity: 85%;
    font-size: 2em;
}

p {
    margin-top: 5%;
    float: left;
}

aside li{
    margin-top: 1em;
    margin-bottom: 1em;
    list-style-type: none;
}

aside a{
    color: black;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-size: 0.80em;
    width: 100%;
}

aside li:hover{
    background-color: gray;
    cursor: pointer;
}

.abaixo {
    float: left;
    background-color: darkgrey;
    margin-top: 14.5em;
    position: absolute;
    width: 50em;
    height: 8em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: black solid 3px;
    border-radius: 2em 0px 2em 0px;
    padding-top: 0.3em;
    padding-left: 1em;
    font-size: large;
}

h2 {
    text-align: center;
}

.abaixo::before{
    content: "Employee: Welcome to our game review website, I hope you enjoy this little project of ours.";
}

.opt:hover + .abaixo::before{
    content: "Employee: Click the game you wish to see the review of.";
}

}

@media (max-width: 1245px){
    body{
        background-color: black;
    }

    .abaixo::before{
        content: "Unfortunately our site doesn't work on this resolution";
    }
}